[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
decorator = "*"
jsonschema = "*"
llvmlite = "*"
nbformat = "*"
six = "*"
traitlets = "*"
ipython_genutils = "*"
jupyter_core = "*"
tatsu = "*"

[dev-packages]

[requires]
python_version = "3.6"
